.header {
    background-color: #fff;

    &__wrapper {
        @extend %flex;
        @extend %align-middle;
        @extend %align-between;
        padding: rem(20) 0;
    }

    &__content {
        @extend %flex;
        @extend %align-middle;
    }

    &__burger {
        display: none;
    }

    &__logo {
        display: inline-block;
        margin-right: rem(56);
    }
}

.main-logo {
    display: block;
    max-width: rem(77);
}

.header-menu {
    color: $color-main;

    &__nav {
        @extend %flex;
        @extend %align-middle;
    }

    &__link {
        font-weight: bold;
        margin-left: rem(52);

        &:first-child {
            margin-left: 0;
        }

        &.active {
            color: $color-primary;
        }
    }

    &__footer {
        display: none;
    }
}

.lang-switcher {
    position: relative;
    display: inline-block;
    font-size: rem(12);
    font-weight: 500;
    z-index: 1;

    &__current {
        position: relative;
        @extend %user-cursor;
        padding: rem(8) rem(8) rem(4);
        border-radius: rem(20) rem(20) 0 0;
        z-index: z(dropdown) + 1;

        &.lang-switcher__item {
            margin-bottom: 0;
        }
    }

    &__dropdown {
        padding: rem(10) rem(8) rem(8);
        border-radius: 0 0 rem(20) rem(20);
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: rem(-32);
            z-index: -1;
            background-color: #fff;
            box-shadow: 0px 8px 20px rgba($color: #000000, $alpha: 0.15) ;
            border-radius: rem(20);
        }

        // @media (min-width: 768px) {
            position: absolute;
            left: 0;
            top: calc(80%);
            color: inherit;
            @include transition(all, 0.3s, ease);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: z(dropdown);
            
            &-body {
                position: relative;
            }
        // }
    }

    &__item {
        @extend %flex;
        @extend %align-middle;
        white-space: nowrap;
        margin-bottom: rem(12);

        &:last-child {
            margin-bottom: 0;
        }

        a {
            display: inline-block;
            line-height: inherit;
        }

        img {
            width: rem(20);
        }

        span {
            color: inherit;
            margin: 0 rem(4);
        }

        .icon {
            color: inherit;
            font-size: rem(20);
            @extend %primary-transition;
        }
    }

    &.active {
        .lang-switcher {
            &__current {
                .icon {
                    @include rotate(-180);
                }
            }

            // @media (min-width: 1025px) {
                &__dropdown {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
            // }
        }
    }
}


@media (max-width: $media-lg) {
    .header {
        &__logo {
            margin-right: rem(40);
        }
    }

    .header-menu {
        &__link {
            margin-left: rem(32);
        }
    }
}

@media (max-width: $media-md) {
    .header {
        position: relative;

        &__wrapper {
            padding: rem(16) 0;
        }

        &__burger {
            position: relative;
            display: block;
            margin-right: rem(16);
            cursor: pointer;
            z-index: z(header-actions);
        }
    }

    .burger {
        svg {
            width: rem(32);

            path {
                @include transition(all,0.3s,ease);
            }
        }

        &.active {
            svg {
                path {
                    fill: rgba($color: #fff, $alpha: 0.5);
            
                    &:nth-child(1) {
                        @include transform(matrix(.707107, 0.707107, -.707107, 0.47107, 8.257359, -.72792));
                    }
                    &:nth-child(2) {
                        @include transform(scale(0));
                    }
                    &:nth-child(3) {
                        @include transform(matrix(.707107, -.707107, 0.707107, 0.707107, -9.213203, 7.757367));
                    }
                }
            }
        }
    }

    .header-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        z-index: z(header-menu);
        @include translate(-100%, 0);
        @include transition(all,0.3s,ease);
        color: #fff;
        overflow: hidden;
        display: block;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: $color-main;
            z-index: z(header-layer);
            height: rem(80);
            pointer-events: none;
        }

        &::before {
            content: "";
            position: absolute;
            @include center-absolute(horizontal);
            top: rem(318);
            width: rem(418);
            height: rem(611);
            background-color: #0B6297;
            filter: blur(200px);
            opacity: 0.4;
            pointer-events: none;
        }

        &__wrap {
            width: 100%;
            padding: rem(80) rem(48) rem(64);
            overflow: auto;
            position: relative;
            z-index: 1;
            max-height: 100%;
        }

        &__nav {
            display: block;
            @include horizontal-decor('../img/decor/horizontal-blue.svg');
            padding: rem(24) 0;

            &::after {
                top: rem(-1);
            }
        }

        &__link {
            margin-left: 0;
            margin-bottom: rem(8);

            a {
                display: inline-block;
                padding: rem(8);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__footer {
            display: block;
            @include horizontal-decor('../img/decor/horizontal-blue.svg');
            padding-top: rem(24);

            &::after {
                top: rem(-1);
            }
        }

        &__about {
            .info-pair {
                margin-bottom: rem(16);
            }
        }

        &__social {
            display: flex;
            display: -ms-flexbox;

            .btn {
                margin-right: rem(16);
            }
        }

        &.active {
            @include translate(0, 0);
        }
    }
}

@media (max-width: $media-sm) {
    .header {
        &__wrapper {
            padding: rem(12) 0;
        }
    }

    .main-logo {
        max-width: rem(64);
    }

    .burger {
        svg {
            width: rem(24);
        }
    }

    .header-menu {
        &::after {
            height: rem(64);
        }

        &__wrap {
            padding: rem(64) rem(16);
        }
    }

    .lang-switcher {
        &__dropdown {
            &::after {
                border-radius: rem(12);
            }
        }
    }
}