@media (max-width: 768px) {
    .south-east-wrap {
        width: 
        initial;
    }

    /* Login page */
    .form {
        padding: 16px;
    }

    .first-select {
        margin-top: 32px;
        padding: 48px 24px;
    }

    .first-select .text-xs-center {
        font-size: 14px;
    }

    .zoom-wrapp {
        margin-left: -16px;
        margin-right: -16px;
    }
    .zoom-item {
        padding: 0 16px;
        font-size: 13px;
        width: 50%;
        text-align: center;
        justify-content: center;
        -ms-flex-align: center;
    }
    .zoom-item img {
        max-width: 32px;
    }
    .zoom-item:first-child {
        font-size: 13px;
    }
    .zoom-item:first-child span {
        display: block;
        margin-top: 8px;
    }


    /* Sidebar */
    .tm-left-column {
        width: 250px;
        float: initial;
        z-index: 112;
        transform: translate(-100%, 0);
        transition: 0.3s ease all;
        overflow: auto;
    }
    .tm-left-column.active {
        transform: translate(0, 0);
    }
    .tm-left-column-close {
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .tm-right-column {
        width: 100%;
        float: initial;
    }

    .top-section-funktional {
        left: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .top-section-funktional .south-east {
        margin-right: 6px;
    }

    .top-section-funktional .south-east > span,
    .top-section-funktional .deleteButton-fake > span,
    .top-section-funktional .deleteButton > span,
    .top-section-funktional .tm-button > span {
        display: none;
    }

    .top-section-funktional .south-east > img,
    .top-section-funktional .deleteButton-fake > img,
    .top-section-funktional .deleteButton > img,
    .top-section-funktional .tm-button > img {
        margin-left: initial;
    }

    .burger {
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
        align-self: center;
        margin-right: 16px;
        cursor: pointer;
    }

    .burger svg {
        width: 32px;
        height: auto;
    }

    .search-and-add .btn > span {
        display: none;
    }
    .search-and-add .btn > img {
        margin-left: 0;
    }

    .btn {
        font-size: 14px;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* Tables */
    .listing-form.white-background-color,
    .users-form.white-background-color,
    .widget-form.white-background-color {
        background-color: transparent;
    }
    .users-form.form-pading {
        padding: 0;
    }
    .form-pading {
        padding: 0 12px 24px;
    }
    table thead {
        display: none;
    }

    table td {
        display: block;
    }
    table td:last-child {
        border-bottom: 0;
    }

    table tr {
        display: block;
        padding: 0 16px;
        margin-bottom: 32px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    }

    table tr:last-child {
        margin-bottom: 0;
    }

    table.report .linkButton {
        position: absolute;
        top: 12px;
        right: 16px;
    }

    table.report td {
        padding: 8px 0;
    }

    table.report td:last-child {
        float: initial;
        padding: 0;
        border-bottom: 0;
    }
    table.report td:nth-last-child(2) {
        border-bottom: 0;
    }

    table td::before {   
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        content: attr(data-title);
        position: relative;
        display: block;
        color: #373a3c;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .idColumn {
        text-align: left;
    }

    .imageColumn {
        background-position: left;
    }
    .imageColumn div {
        padding: 10px 0;
    }
    .imageColumn.hidden {
        display: none;
    }

    .breadCrumb {
        padding: 16px;
    }
    .breadcrumb_title {
        padding: 0 0 24px 16px;
        font-size: 18px;
        line-height: 24px;
    }

    /* SEO */
    .tabs-section {
        margin-top: 24px;
        max-width: 100%;
    }
    .tab {
        width: initial;
    }

    .fieldRow {
        padding: 24px 16px;
    }

    .form-control {
        padding: 14px 12px;
    }

    .input-sections {
        margin-bottom: 16px;
    }
    .input-section_del .delFile {
        right: 0;
    }
    .input-section_del .form-control {
        max-width: calc(100% - 56px);
    }
    .input-section_del a.downloadFile {
        right: 68px;
    }

    .galleryPhoto .img-upload-other:nth-last-child(2)  {
        display: none;
    }

    .img-upload-other {
        padding: 0;
    }

    .img-upload-other .deliteSection {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
    }
}