@font-face {
    font-family: "icomoon";
    src: url("../fonts/icons/icomoon.eot?8vdrqo");
    src: url("../fonts/icons/icomoon.eot?8vdrqo#iefix") format("embedded-opentype"),
        url("../fonts/icons/icomoon.ttf?8vdrqo") format("truetype"), url("../fonts/icons/icomoon.woff?8vdrqo") format("woff"),
        url("../fonts/icons/icomoon.svg?8vdrqo#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-round:before {
    content: '\e900';
}
.icon-arrow-right:before {
    content: '\e901';
}
.icon-arrow-right-round:before {
    content: '\e902';
}
.icon-banknote:before {
    content: '\e903';
}
.icon-book:before {
    content: '\e904';
}
.icon-briefcase:before {
    content: '\e905';
}
.icon-calculator:before {
    content: '\e906';
}
.icon-chart:before {
    content: '\e907';
}
.icon-checklist:before {
    content: '\e908';
}
.icon-chevron-down:before {
    content: '\e909';
}
.icon-dollar:before {
    content: '\e90a';
}
.icon-facebook:before {
    content: '\e90b';
}
.icon-hand-stars:before {
    content: '\e90c';
}
.icon-instagram:before {
    content: '\e90d';
}
.icon-linkedin:before {
    content: '\e90e';
}
.icon-message:before {
    content: '\e90f';
}
.icon-phone:before {
    content: '\e910';
}
.icon-pin:before {
    content: '\e911';
}
.icon-search:before {
    content: '\e912';
}
.icon-star:before {
    content: '\e913';
}
.icon-truck:before {
    content: '\e914';
}
.icon-users:before {
    content: '\e915';
}
.icon-user-speak:before {
    content: '\e916';
}